<h1>User Profile</h1>
<p><%= current_user.email %></p>
<p><%= current_user.role %></p>

<% if current_user.standard? %>
  <%= link_to "Upgrade Account", new_charge_path, class: 'btn btn-primary' %>
<% else %>
  <%= link_to "Downgrade Account", charge_path, method: :delete, class: 'btn btn-primary' %>
<% end %>

<div class="media">
  <h4>Wikis</h4>
  <div class="media-body">
    <% @wikis.each do |w| %>
      <p><%= link_to w.title, wiki_path(w) %></p>
    <% end %>
  </div>
</div>

<div class="media">
  <h4>Collaborations</h4>
  <div class="media-body">
    <% current_user.collaborations.each do |w| %>
      <p><%= w.wiki.title %></p>
    <% end %>
  </div>
</div>
